name: Rocket-Build-v41
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with: {java-version: '17', distribution: 'temurin'}
      
      - name: Setup Gradle
        run: gradle wrapper

      - name: Build APK
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AdGuard-Rocket-v41
          path: app/build/outputs/apk/debug/app-debug.apk
