name: Rocket-Final-v46
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with: {java-version: '17', distribution: 'temurin'}
      - name: Create Wrapper
        run: gradle wrapper --gradle-version 8.2
      - name: Build APK
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AdGuard-Rocket-v46
          path: app/build/outputs/apk/debug/app-debug.apk
