name: Final-Rocket-v47
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with: {java-version: '17', distribution: 'temurin'}
      
      - name: Setup Gradle
        run: gradle wrapper --gradle-version 8.2

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AdGuard-Rocket-v47
          path: app/build/outputs/apk/debug/app-debug.apk
